node_modules
out
dist
build
.svelte-kit
*.tgz
coverage
*.lcov
*.tsbuildinfo
.env
.env.*.local
.env.local
.cache
.idea
.DS_Store

# panda codegen output
styled-system

# data exports (not for sharing)
*.xer
*.xlsx
